body {
  width: 1200px;
  /* margin: 0 auto; */
  /* контент не залазил под хедер задаем паддинг по ширине хедера */
  padding-top: 80px;
  text-align: justify;
}
::before,
::after {
  box-sizing: border-box;
}
div {
  display: block;
}
header {
  background-color: paleturquoise;
  padding: 20px;
  font-size: 34px;
  /* фиксированное положение хедера, надо задать выс и шир, иначе не видно */
  position: fixed;
  width: 100%;
  min-height: auto;
  /* чтобы хедер прилип к верху экрана  */
  top: 0;
  left: 0;
  /* чтобы абсолютные элементы не перекрывали хедер,повышаем ему индекс  */
  z-index: 100;
}
/* h2 {
  font-size: 24;
  text-decoration: underline;
  color: red;
} */

.container {
  background-color: rgb(245, 234, 245);
  padding: 50px;
}
header .container {
  background-color: aquamarine;
}
/* --------old school----------- */
h2 {
  text-align: center;
  margin-bottom: 12px;
}

.form {
  outline: 1px solid red;
  width: 528px;
  /* height: 581px; */
  padding: 40px;
}

/* .group {
  margin-bottom: 20px;
} */
.form-field:not(:last-child) {
  outline: 1px solid blue;
  position: relative;
  margin-bottom: 20px;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}
/* .form-label-comment {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50px);
  transition: transform 250ms linear;
} */

.form-input {
  /* background-color: inherit; */
  margin: 0;
  font: inherit;
  width: 100%;
  padding: 12px 0 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-40px, -41px);
}
/* селектор атрибута тега, отступ от края */
[placeholder] {
  padding-left: 50px;
  box-sizing: border-box;
}

.comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
/* .form-field [type='checkbox'] {
  flex-direction: row;
} */
.form-field.button {
  display: flex;
}
button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(160, 88, 167);
  transform: translateY(-50%);
}
.form-input:focus ~ .icon {
  background-color: red;
}
/* second form -------------------- */
.form2 {
  outline: 1px solid red;
  width: 528px;
  /* height: 581px; */
  padding: 40px;
}
.group {
  margin-bottom: 20px;
}
.form-field2 {
  display: block;
  outline: 1px solid blue;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  margin-bottom: 20px;
}
.form-label2 {
  /* margin-bottom: 4px;
  margin-top: 10px; */
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}
.form-input2 {
  margin: 0;
  font: inherit;
  width: 100%;
  padding: 12px 0 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}
.icon2 {
  position: absolute;
  top: 50%;
  left: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(160, 88, 167);
  transform: translateY(-50%);
}
/* form-field2, когда внутри нее происходит фокус, ведет себя так: */
.form-field2:focus-within > .icon2 {
  background-color: rgb(255, 61, 2);
}

.form-field2:focus-within > .form-label2,
.form-input2:not(:placeholder-shown) + .form-label2 {
  transform: translate(-42px, -41px);
}
/* .form-field2:not(:placeholder-shown) + .form-label2 {
  transform: translate(-42px, -40px);
} */
