body {
  width: 1200px;
  margin: 0 auto;
  /* margin: 0 auto; */
  /* контент не залазил под хедер задаем паддинг по ширине хедера */
  padding-top: 80px;
  text-align: justify;
  color: #212121;
}
::before,
::after {
  box-sizing: border-box;
}
div {
  display: block;
}
header {
  background-color: paleturquoise;
  padding: 20px;
  font-size: 34px;
  /* фиксированное положение хедера, надо задать выс и шир, иначе не видно */
  position: fixed;
  width: 100%;
  min-height: auto;
  /* чтобы хедер прилип к верху экрана  */
  top: 0;
  left: 0;
  /* чтобы абсолютные элементы не перекрывали хедер,повышаем ему индекс  */
  z-index: 100;
}
/* h2 {
  font-size: 24;
  text-decoration: underline;
  color: red;
} */

.container {
  background-color: rgb(245, 234, 245);
  padding: 50px;
}
header .container {
  background-color: aquamarine;
}
/* --------old school----------- */
h2 {
  text-align: center;
  margin-bottom: 12px;
}

.form {
  outline: 1px solid red;
  width: 528px;
  /* height: 581px; */
  padding: 40px;
}

/* .group {
  margin-bottom: 20px;
} */
.form-field:not(:last-child) {
  outline: 1px solid blue;
  position: relative;
  margin-bottom: 20px;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}
/* .form-label-comment {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50px);
  transition: transform 250ms linear;
} */

.form-input {
  /* background-color: inherit; */
  margin: 0;
  font: inherit;
  width: 100%;
  padding: 12px 0 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-40px, -41px);
}
/* селектор атрибута тега, отступ от края */
[placeholder] {
  padding-left: 50px;
  box-sizing: border-box;
}

.comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
/* .form-field [type='checkbox'] {
  flex-direction: row;
} */
.form-field.button {
  display: flex;
}
button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(160, 88, 167);
  transform: translateY(-50%);
}
.form-input:focus ~ .icon {
  background-color: red;
}
/* second form -------------------- */
.form2 {
  outline: 1px solid red;
  width: 528px;
  /* height: 581px; */
  padding: 40px;
}
.group {
  margin-bottom: 20px;
}
.form-field2 {
  display: block;
  outline: 1px solid blue;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  margin-bottom: 20px;
}
.form-label2 {
  /* margin-bottom: 4px;
  margin-top: 10px; */
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}
.form-input2 {
  margin: 0;
  font: inherit;
  width: 100%;
  padding: 12px 0 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}
.icon2 {
  position: absolute;
  top: 50%;
  left: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(160, 88, 167);
  transform: translateY(-50%);
}
/* form-field2, когда внутри нее происходит фокус, ведет себя так: */
.form-field2:focus-within > .icon2 {
  background-color: rgb(255, 61, 2);
}

.form-field2:focus-within > .form-label2,
.form-input2:not(:placeholder-shown) + .form-label2 {
  transform: translate(-42px, -41px);
}
/*  */
.content {
  margin: 0 auto;
  padding: 20px 100px;
  text-align: center;
}
/* кастомные чекбоксы от Макеева*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  /* в идеале, в будущем */
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
}
.icons {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  /* background-color: tomato; */
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox:focus + .icons {
  outline: auto;
}
.checkbox:checked + .icons {
  background-color: #03a6f1;
  background-image: url(../images/icons/check-on.svg);
  background-size: contain;
  /* фон занимает  место не только внутри бордера, но и его место тоже */
  background-origin: border-box;
  border-color: #03a6f1;
}
.field {
  display: flex;
  align-items: center;
  /* outline: 1px solid rgba(0, 255, 128, 0.212); */
}

li {
  margin-bottom: 10px;
}
.label {
  transition: transform 250ms linear;
}
.checkbox:checked ~ .label {
  transform: translateX(20px);
}

/* ------------help----- */
.help {
  outline: 2px solid red;
  flex-direction: row;
  display: flex;
}
/* как спрятать инпут;  Makeev video*/
.option {
  display: block;
  margin-bottom: 0.25em;
}
.check {
  padding-left: 15px;
}
/* .check__input { */
/* спрятался совсем,убрался и пробел*/
/* position: absolute; */
/* скрывает с глаз, читалки видят */
/* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
/* спсб для старых браузеров, напр Е11
appearance не работает */
.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url(../images/icons/check-off.svg);
  background-color: pink;
  margin-left: -20px;
}
/* -----checked----- */
.check__input:checked + .check__box {
  background-image: url(../images/icons/check-on-focused.svg);
}

/* -----focused----- */

/* когда инпут в фокусе(с клавы) он выкл(первая пустая картинка) */
.check__input:focus + .check__box {
  background-image: url(../images/icons/check-off-focused.svg);
  outline: 2px solid blueviolet;
}
/* когда инпут в фокусе и чекнут, появляется вторая с флажком картинка  */
.check__input:checked:focus + .check__box {
  background-image: url(../images/icons/check-on.svg);
  outline: none;
}
/* (после названия иконки перед свг ставится -focused) не обязательно */

/* ----disabled---- */
.check__input:disabled + .check__box {
  background-image: url(../images/icons/check-off-disabled.svg);
  outline: 2px solid blueviolet;
}
/* когда инпут в фокусе и чекнут, появляется вторая с флажком картинка  */
.check__input:checked:disabled + .check__box {
  background-image: url(../images/icons/check-on.svg);
  outline: none;
}
/*  картинка инлайном */
.check__box1 {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z" fill="red"/%3E%3C/svg%3E');
  background-color: pink;
  margin-left: -20px;
}
.check__input:checked + .check__box1 {
  background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
  outline: none;
}
.check__input:focus + .check__box1 {
  background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z" fill="red"/%3E%3C/svg%3E');
  outline: 2px solid blueviolet;
}
.check__input:checked:focus + .check__box1 {
  background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
  outline: none;
}

/* Чекбокс стилями */
.check__box2 {
  position: absolute;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 0 0.1em #4a90e2;
  margin-left: -20px;
  margin-top: 0;
  border-radius: 4px;
  background-color: rgba(82, 246, 123, 0.466);
}
/* -----checked----- */
.check__input:checked + .check__box2 {
  background-color: rgba(117, 19, 126, 0.466);
  background-image: url(../images/icons/check-on.svg);
}

/* -----focused----- */

.check__input:focus + .check__box2 {
  box-shadow: 0 0 0 0.2em rgb(68, 6, 80);

  /* outline: 2px solid blueviolet; */
}
.check__input:disabled + .check__box2 {
  box-shadow: 0 0 0 0.1em darkgray;
}

.check__input:checked:disabled + .check__box2 {
  background-color: darkgray;
}

/* Чекбокс  инлайном */
.check3 {
  padding-left: 1.2em;
}
.check__input3 {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check__box3 {
  position: absolute;
  margin-left: -1.2em;
  width: 1em;
  height: 1em;
}
.check__focus3 {
  fill: none;
}
.chesk__square3 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2px;
}
.check__mark3 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3px;
}
/* checked */
.check__input3:checked + * .chesk__square3 {
  fill: #4a90e2;
}
/* focused */
.check__input3:focus + * /.checkbox:focus3 {
  fill: #7ed321;
}
/* disabled */
.check__input3:disabled + * .chesk__square3 {
  stroke: #9b9b9b;
}
.check__input3:checked:disabled + * .chesk__square3 {
  fill: #9b9b9b;
}
/*  */
